*{
  background-image: url("../public/images/lpu.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.App {
  text-align: center;
  padding: 20px;
  background-color:rgba(222, 202, 177, 0.863) ;
  /* background-size: auto; */
}

.App img{
  width: 200px;
  /* text-align: center; */
  border-radius: 100%;
  /* border: 2px; */
  box-shadow: 5px 5px 5px grey;
}

.App snap{
  font-size: 30px;
  color: rgb(46, 45, 44);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App .hii{
  color: rgb(220, 69, 220);
  font-size: 50px;
}